html {
    margin: 1em auto;
    max-width: 40em;
    color: white;
    background: black;
}

pre {
    border: 2px dotted black;
    background-color: #222;
    overflow: auto;
    text-overflow: clip;
}

::selection {
    color: black;
    background: yellow;
}

#logo {
    white-space: pre;
    margin-bottom: 0.5em;
}

body, h1, h2, h3 { font: 16px/1.6em monospace; }
h1, h2, h3 { font-weight: bold; }

p, h1, h2, h3 { margin-top: 1em; }

h1::before { content: "* "; }
h2::before { content: "** "; }
h3::before { content: "*** "; }

a, a:link { color: #e00; }
a:visited { color: #bbb; }

a:hover {
    background-color: #e00;
    color: #000;
    text-decoration: none;
}

a:visited:hover {
    background-color: #bbb;
    color: #000;
}

@media (prefers-color-scheme: light) {
    html {
	color: black;
	background: white;
    }

    pre {
	border: 2px dotted white;
	background-color: #ddd;
    }

    ::selection {
	color: white;
	background: #a00;
    }

    a, a:link { color: #a00; }
    a:visited { color: #555; }

    a:hover {
	background-color: #e00;
	color: #fff;
    }

    a:visited:hover {
	background-color: #555;
	color: #fff;
    }
}
