html {
    margin: 1em auto;
    max-width: 40em;
}

pre {
    border: 2px dotted white;
    background-color: #eee;
    overflow: auto;
    text-overflow: clip;
}

::selection {
    color: white;
    background: #a00;
}

#logo {
    white-space: pre;
    margin-bottom: 0.5em;
}

body, h1, h2, h3 { font: 16px/1.6em monospace; }
h1, h2, h3 { font-weight: bold; }

p, h1, h2, h3 { margin-top: 1em; }

h1::before { content: "* "; }
h2::before { content: "** "; }
h3::before { content: "*** "; }

a, a:link { color: #a00; }
a:visited { color: #555; }

@media (prefers-color-scheme: dark) {
    html {
	color: white;
	background: black;
    }

    pre {
        border: 2px dotted black;
	background-color: #222;
    }

    ::selection {
	color: black;
	background: yellow;
    }

    a, a:link { color: #e00; }
    a:visited { color: #bbb; }
}
